body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.register {
    padding-left: 20%;
    padding-right: 20%;
}

footer {
    margin-bottom: 0;
}

.box {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #eeeeee;
}

/*MY ADDED STYLING*/

@font-face {
    font-family: Merci-Regular;
    src: url(Assests/Merci-Regular.ttf);
}

/*NAVBAR COLOR & APP NAME FONT*/
.navbar {
    background-color: darkslategrey;
    font-family: 'Lexend Giga', sans-serif;
}

/*NAVBAR LINKS*/
.navbar-collapse {
      font-family: 'Lexend Giga', sans-serif;
/*    font-family: Merci-Regular;*/
}

/*MAIN PAGE*/
.logo {
    background-color: orange;
    margin: 20px;
}

.about {
    background-color: deepskyblue;
    margin: 20px;
}


/*CHORES*/
.card {
    border: solid 2px black;
    background-color: whitesmoke;
    margin-bottom: 7px;
    box-shadow: 10px 5px 7px 0px rgba(184, 182, 182, 0.75);
}

.card-header {
    background-color: lightgreen;
}

button {
    height: 50px;
    width: auto;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 4px;
    border: 3px solid black;
    border-radius: 5px;
    background: white;
    text-decoration: none;
}

footer {
    /* background-color: rgb(218, 28, 192); */
    /*    background-color: #25faa8;*/
    color: black;
    font-size: 20px;
    text-align: center;
    bottom: 0;
/*    position: fixed;*/
    width: 100%;
}

.form-horizontal {
/*    background-color: magenta;*/
    margin-left: 25%;
    margin-right: 25%;
}

.form-control {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 50px;
    width: auto;
    border: 2px solid blue;
    border-radius: 1px;
}

.control-label {
    font-family: 'Lexend Giga', sans-serif;
}

.btn-default {
    background-color: orange;
    font-family: 'Lexend Giga', sans-serif;
    border: 2px solid black;
    border-radius: 1px;
}

.btn-primary {
    background-color: chartreuse;
    font-family: 'Lexend Giga', sans-serif;
    border: 2px solid black;
    border-radius: 1px;
}